.content{
    margin: 0 auto;
    width: 95%;
}

.carousel{
    width: 100%;
}
.carousel-product{
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    overflow: hidden; 
    white-space: nowrap;
    position: relative;
    float: left; 
}

.carousel-product .card{
    border: 1px black solid;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;

}

.product-description{
    background-color: rgb(231, 255, 95);
    width: 400px;
    height: 452px;
    border-top-left-radius: 800px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-left: 69%;
}

.product-description .content{
    width: 90%;
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.product-description .content .card{
    margin-top: 20%;
    margin-left: 20%;
    border-top-left-radius: 800px;
    width: 90%;
    height: 400px;
}
.product-description .content .card img{
    width: 100%;
    height: 70%;
}
.product-description .content .card .mode-description{
    overflow-y: scroll;
    overflow: hidden;
    height: 100px;    
}
